.concept-canvas {
    position: absolute;
    bottom: 0;
    z-index: 0;
}
.concept-title {
    z-index: 1;
    font-size: 1.5rem;
    font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "sans-serif";
    text-align: center;
}
.blink {
    font-size: 1.7rem;
    &.active {
        animation: blink 1000ms step-end infinite;
    }
}
@keyframes blink {
    50% {
        opacity: 0;
    }
}