.concept {
    position: absolute;
    bottom: 0;
    z-index: 0;
}
.concept-title {
    z-index: 1;
    font-size: 2rem;
}
    transition: all 1s ease;
    font-size: 2rem;
}
.im {
    /* font-size: 2rem; */
    &::before, &::after {
        content: "\00a0";
    }
}