body {
  margin: 0;
  font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  overflow: hidden;
}
#down {
  position: relative;
  z-index: 1;
  transition: box-shadow ease 0.5s;
}
.wrap {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  transition: all 1s ease;
}
#root {
  overflow: hidden;
  transition: background-color ease 0.5s;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.dark {
  background-color: var(--base-dark) !important;
  color: #fff !important;
  & span:not(.album > *) {
    color: #fff !important;
  }
}
.container {
  margin: 0 auto;
  min-height: calc(100vh - 3.5rem);
}

@media (min-width: 576px) {
  .container {
    max-width:540px
  }
}

@media (min-width: 768px) {
  .container {
      max-width:720px
  }
}

@media (min-width: 992px) {
  .container {
    max-width:960px
  }
}

@media (min-width: 1200px) {
  .container {
    max-width:1140px
  }
}
:root {
  --base-color-1: #fff7ab;
  --base-color-project: #B5F1CC;
  --base-color-test1: #FFCEFE;
  --base-color-concept: #FF9B9B;
  --base-color-making: #B9F3FC;
  --base-color-profile: #FFD6A5;
  --base-color: #cecece;
  --base-dark: #343a40;
  /* FFD6A5 AA96DA */
} 
.toTop {
  text-align: center;
  margin-top: auto;
  margin-bottom: 0.5rem;
  & span {
      color: #aaa;
      cursor: pointer;
  }
}