#main {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.smooth {
    transition: all cubic-bezier(0,.75,.25,1) 700ms;
}
.box {
    position: absolute;
    width: 300px;
    height: 300px;
    inset: 0px;
    margin: auto;
    transition: all ease 1s;
    animation: on 0.5s linear 1;
    z-index: 1;
}
.pentagon {
    overflow: visible;
    position: absolute;
    top: 0;
    animation: turn 120s linear infinite;
}
.triangle {
    cursor: pointer;
    fill: var(--base-color);
    transform-origin: 50% calc(50% + 4px);
    transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
    &:nth-of-type(1) {
        transform: rotate(0deg);
        animation: triOn1 200ms linear 0ms;
        &:hover {
            transform: rotate(0deg) translateY(15px);
            & + .list-title {
                transform: rotate(180deg) translate(50%, -5px);
            }
        }
    }
    &:nth-of-type(2) {
        transform: rotate(72deg);
        animation: triOn2 200ms linear 200ms;
        &:hover {
            transform: rotate(72deg) translateY(15px);
            & + .list-title {
                transform: rotate(252deg) translate(50%, -5px);
            }
        }
    }
    &:nth-of-type(3) {
        transform: rotate(144deg);
        animation: triOn3 200ms linear 400ms;
        &:hover {
            transform: rotate(144deg) translateY(15px);
            & + .list-title {
                transform: rotate(324deg) translate(50%, -5px);
            }
        }
    }
    &:nth-of-type(4) {
        transform: rotate(216deg);
        animation: triOn4 200ms linear 600ms;
        &:hover {
            transform: rotate(216deg) translateY(15px);
            & + .list-title {
                transform: rotate(36deg) translate(50%, -5px);
            }
        }
    }
    &:nth-of-type(5) {   
        transform: rotate(288deg);
        animation: triOn5 200ms linear 800ms;
        &:hover {
            transform: rotate(288deg) translateY(15px);
            & + .list-title {
                transform: rotate(108deg) translate(50%, -5px);
            }
        }
    }
}
.list-title {
    text-transform: uppercase;
    transform: translate(50%, 100%);
    text-anchor: middle;
    transform-origin: 50% calc(50% + 4px);
    font-weight: 600;
    transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
    &:nth-of-type(1) {
        transform: rotate(180deg) translate(50%, calc(0% + 15px));
    }
    &:nth-of-type(2) {
        transform: rotate(252deg) translate(50%, calc(0% + 15px));
    }
    &:nth-of-type(3) {
        transform: rotate(324deg) translate(50%, calc(0% + 15px));
    }
    &:nth-of-type(4) {
        transform: rotate(36deg) translate(50%, calc(0% + 15px));
    }
    &:nth-of-type(5) {
        transform: rotate(108deg) translate(50%, calc(0% + 15px));
    }
}
.potion, .potion2 {
    & .triangle:nth-of-type(1) {
        fill: var(--base-color-1);
    }
    & .triangle:nth-of-type(2) {
        fill: var(--base-color-project);
    }
    & .triangle:nth-of-type(3) {
        fill: var(--base-color-profile);
    }
    & .triangle:nth-of-type(4) {
        fill: var(--base-color-concept);
    }
    & .triangle:nth-of-type(5) {
        fill: var(--base-color-making);
    }
}
@keyframes triOn1 {
    0% {transform: translate(0px, 0px);}
    50% {transform: translate(0px, 15px);}
    100% {transform: translate(0px, 0px);}   
}
@keyframes triOn2 {
    0% {transform: rotate(72deg) translateY(0px);}
    50% {transform: rotate(72deg) translateY(15px);}
    100% {transform: rotate(72deg) translateY(0px);}
}
@keyframes triOn3 {
    0% {transform: rotate(144deg) translateY(0px);}
    50% {transform: rotate(144deg) translateY(15px);}
    100% {transform: rotate(144deg) translateY(0px);}
}
@keyframes triOn4 {
    0% {transform: rotate(216deg) translateY(0px);}
    50% {transform: rotate(216deg) translateY(15px);}
    100% {transform: rotate(216deg) translateY(0px);}
}
@keyframes triOn5 {
    0% {transform: rotate(288deg) translateY(0px);}
    50% {transform: rotate(288deg) translateY(15px);}
    100% {transform: rotate(288deg) translateY(0px);}
}
@keyframes turn {
    100% { transform: rotate(360deg); }
}
@keyframes on {
    0% { 
        transform: scale(0.8);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.mushroom .box {
    transform: scale(1.1);
}
.mushroom2 .box {
    transform: scale(1.2);
}
.potion, .potion2 {
    & .tri {
        border-top-color: var(--base-color-1);
    }
    & .tri:nth-child(2) {
        border-top-color: var(--base-color-project);
    }
    & .tri:nth-child(3) {
        border-top-color: var(--base-color-test1);
    }
    & .tri:nth-child(4) {
        border-top-color: var(--base-color-concept);
    }
    & .tri:nth-child(5) {
        border-top-color: var(--base-color-making);
    }
    & .tri:nth-child(6) {
        border-top-color: var(--base-color-profile);
    }
} 
.select {
    position: absolute;
    font-weight: 800;
    font-size: 3rem;
    right: 0;
    bottom: 0;
    text-transform: uppercase;
    color: #ccc !important;
}
@media (min-width: 768px) {
    .select {
        right: -7rem;
        bottom: 7rem;
        font-size: 6rem;
        transform: rotate(-90deg);
    }
}
.dark {
    & text {
        fill: #fff;
    }
}