
.making-flex {
    display: flex;
    flex-direction: column;
}

.intro {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 5rem auto;
    justify-content: center;
    flex-wrap: wrap;
    /* transform: rotate(-45deg); */
    /* & :nth-child(3), & :nth-child(4) {
        border: 2px solid #fff;
    } */
}
.intro-base {
    width: 28rem;
    height: 8rem;
    border:  1px solid #000;
    overflow: hidden;
    position: relative;
}
.intro-line {
    width: 0.8rem;
    position: absolute;
    background-color: #000;
    &:nth-child(1) {
        bottom: 0;
        left: 25%;
        transform-origin: bottom right;
        transform: rotate(-45deg);
        height: 5.5rem;
    }
    &:nth-child(2) {
        transform-origin: top right;
        transform: rotate(45deg);
        left: calc(25% + 1.75rem);
        height: 6.5rem;
    }
    &:nth-child(3) {
        height: 8rem;
        left: 40%;
    }
    &:nth-child(4) {
        left: 85%;
        height: 13.5rem;
        bottom: 0;
        transform-origin: bottom right;
        transform: rotate(-50deg);
    }
}
.box-item {
    width: 0px;
    height: 0px;
    border-bottom: calc( 60px * 1.732 ) solid #666666;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    &:nth-child(2n) {
        transform: rotate(180deg);
    }
}
.box-item + .box-item {
    margin-left: -59px;
}
/* .box-item {
    position: relative;
    width: calc(960px / 2 / 4);
    height: calc(960px / 2 / 4);
    float: left;
    padding: 6px;
    border: 2px solid #000;
    transform: rotate(45deg);
    background-color: #fff;
    z-index: 0;
    &:nth-child(1) {
        z-index: 4;
        transform: rotate(45deg) translate(100vw, -100vw);
        animation: box-appear 500ms 000ms ease forwards;
    }
    &:nth-child(2) {
        z-index: 3;
        transform: rotate(45deg) translate(100vw, -100vw);
        animation: box-appear 500ms 75ms ease forwards;
    }
    &:nth-child(3) {
        z-index: 2;
        transform: rotate(45deg) translate(100vw, -100vw);
        animation: box-appear 500ms 150ms ease forwards;
    }
    &:nth-child(4) {
        z-index: 1;
        transform: rotate(45deg) translate(100vw, -100vw);
        animation: box-appear 500ms 225ms ease forwards;
    }
    .box-inner {
        width: 100%;
        height: 100%;
        background-color: var(--base-color);
    }
}
.box-item + .box-item {
    margin-left: calc(136px / 4 * 1.414);
} */
@keyframes box-appear {
    0% {
        transform: rotate(45deg) translate(100vw, -100vw);
    }
    100% {
        transform: rotate(45deg) translate(0, 0);
    }
}
.info {
    position: relative;
    width: 90%;
    margin: 0 auto;
    z-index: -1;
    & > * {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
    }
}
.info-title {
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}
.info-head {
    width: 100%;
}
.info-sub {
    width: 100%;
    word-break: break-word;
}

@media (min-width: 768px) {
    .info-head {
        width: 40%;
    }
    .info-sub{
        width: 60%;
    }
}
.info-album {
    width: 5rem;
    height: 5rem;
    margin: 0 auto;
}
.case {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #1D5B79;
    .disk {
        width: 90%;
        height: 90%;
        background: black;
        top: 5%;
        left: 50%;
        border-radius: 50%;
        position: absolute;
        z-index: -1;
        animation: rotate 8s linear infinite;
        overflow: hidden;
        color: #fff;
    }
}
.toTop {
    text-align: center;
    margin-top: auto;
    margin-bottom: 0.5rem;
    & span {
        color: #aaa;
        cursor: pointer;
    }
}
.dark {
    & .square {
        background-color: #fff;
    }
    & .line {
        border-top: 1px solid #fff;
    }
    & .selector {
        background-color: #343a40;
    }
    & .info {
        color: #fff;
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* .potion, .potion2 {
    & .box-item {
        &:nth-child(1) {
            border: 2px solid var(--base-color-project);
            & .box-inner {
                background-color: var(--base-color-project);
            }
        }
        &:nth-child(2) {
            border: 2px solid var(--base-color-concept);
            & .box-inner {
                background-color: var(--base-color-concept);
            }
        }
        &:nth-child(3) {
            border: 2px solid var(--base-color-making);
            & .box-inner {
                background-color: var(--base-color-making);
            }
        }
        &:nth-child(4) {
            border: 2px solid var(--base-color-profile);
            & .box-inner {
                background-color: var(--base-color-profile);
            }
        }
    }
} */