#profile {
    display: flex;
    flex-direction: column;
    & .toTop > span {
        color: #000 !important;
    }
}
.dark {
    #profile .toTop > span {
        color: #fff !important;
    }
}
.time-line {
    z-index: 9;
    width: 90%;
    margin: 0 auto;
    position: sticky;
    display: flex;
    top: calc(3.5rem + 2px);
    height: 10vh;
    transition: background-color ease 0.5s;
    background-color: #fff;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    .about {
        animation: 800ms ease 0s 1 appear forwards; 
        &::before {
            animation: 1000ms pulse 0ms ease-in-out;
        }
    }
    .summary {
        animation: 800ms ease 200ms 1 appear forwards;   
        &::before {
            animation: 1000ms pulse 200ms ease-in-out;
        }
    }
    .project {
        animation: 800ms ease 400ms 1 appear forwards;   
        &::before {
            animation: 1000ms pulse 400ms ease-in-out;
        }
        
    }
    .skills {
        animation: 800ms ease 600ms 1 appear forwards;   
        &::before {
            animation: 1000ms pulse 600ms ease-in-out;
        }
    }
    .contact {
        animation: 800ms ease 800ms 1 appear forwards;
        &::before {
            animation: 1000ms pulse 800ms ease-in-out;
        }
    }
}
.line {
    position: absolute;
    top: 50%;
    width: 100%;
    border-top: 1px solid #000;
    animation: 800ms ease 0s 1 appear-line forwards;
}
.square {
    width: 0.5rem;
    height: 0.5rem;
    background-color: #000;
    transform: rotate(45deg);
    margin-top: 1px;  
    &.selector {
        width: 0.5rem;
        height: 0.5rem;
        padding: 0.2rem;
        background-color: #fff;
        opacity: 0;
        cursor: pointer;
        border: 1px solid var(--base-color);
        transition: 500ms all ease; 
        &.about{
            border: 1px solid var(--base-color-project);
            &::before, &::after {
                border: 1px solid var(--base-color-project);
            }
            .color {
                background-color: var(--base-color-project);   
            }
        }
        &.summary {
            border: 1px solid var(--base-color-test1);
            &::before, &::after {
                border: 1px solid var(--base-color-test1);
            }
            .color{ 
                background-color: var(--base-color-test1);
            }
        }
        &.project {
            border: 1px solid var(--base-color-concept);
            .color {
                background-color: var(--base-color-concept);
            }
            &::before, &::after {
                border: 1px solid var(--base-color-concept);
            }
        }
        &.skills {
            border: 1px solid var(--base-color-making);
            .color {
                background-color: var(--base-color-making);
            }
            &::before, &::after {
                border: 1px solid var(--base-color-making);
            }
        }
        &.contact {
            border: 1px solid var(--base-color-profile);
            .color {
                background-color: var(--base-color-profile);
            }
            &::before, &::after {
                border: 1px solid var(--base-color-profile);
            }
        }
        &::before, &::after {
            transition: 500ms all ease; 
            border: 1px solid var(--base-color);
            position: absolute;
            content: '';
            top: -1px;
            left: -1px;
            width: 100%;
            height: 100%;
        }
        &:hover {
            width: 0.7rem;
            height: 0.7rem;
            padding: 0.3rem;
            transition: 400ms all ease;
        }
        &.active {
            padding: 0.4rem;
            width: 1rem;
            height: 1rem;
        }
        &.active::after{
            animation: 600ms pulse 2 ease-in-out !important;
        }
        .color {
            transition: 500ms all ease;  
            width: 100%;
            height: 100%;
            background-color: var(--base-color);   
        }
        
    }
}

@keyframes appear {
    0% {
        transform: scale(0) rotate(45deg);
        opacity: 1;
    }
    100% {
        transform: scale(1) rotate(45deg);
        opacity: 1;
    }
}
@keyframes appear-line {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: .5;
    }
    100% {
        transform: scale(3);
        opacity: 0;
    }
}
.time-line-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}
.profile {
    position: relative;
    padding: 1rem;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    & li {
        list-style: none;
    }
}
.profile-section + .profile-section {
    margin-top: 2rem;
}
#about {
    color: var(--base-color-project);
}
#summary {
    color: var(--base-color-test1);
}
#project {
    color: var(--base-color-concept);
}
#skills {
    color: var(--base-color-making);
}
#contact {
    color: var(--base-color-profile);
}
.profile-name {
    position: relative;
    margin-bottom: 1rem;
}
.names {
    position: absolute;
    width: 100%;
    top: 1rem;
    left: 1rem;
}
.thinking {
    margin-top: 2rem;
    border-left: 3px solid var(--base-color-project);
    & > li {
        margin: 1rem 0;
        list-style: disc;
    }
}
.border-project {
    /* width: 100%; */
    padding-top: 1rem;
    border-bottom: 2px solid var(--base-color-project);
}
.summary-list {
    margin: 0;
    padding-left: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--base-color-test1);
    & ul {
        padding-left: 1rem;
        font-size: 1.1rem;
        font-weight: 500;
    }
}
.summary-title {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0.5rem 0;
}
.summary-sub-list {
    font-size: 1rem !important;
    font-weight: normal !important;
}
.normal {
    font-size: 1rem !important;
    font-weight: normal !important;
}
.profile-project {
    padding-left: 0.5rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--base-color-concept);
    & .date {
        font-size: 0.9rem;
        margin-left: 0.5rem;
        text-transform: uppercase;
    }
}
.profile-project-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
    &:hover {
        color: #068FFF !important;
    }
}
.contact-bundle {
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--base-color-profile);
    gap: 0.5rem;
    & i {
        color: #068FFF !important;
        margin-right: 2px;
    }
    & a { 
        font-weight: 500;
        text-decoration: none;
        color: #068FFF !important;
        &:hover {
            text-decoration: underline;
        }
    }
}
.profile-sub {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1rem;

}

ul.skill_list {
    margin: 0;
    padding-left: 0;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--base-color-making);

    & > li {
        font-size: 1.1rem;
        font-weight: 500;
    }
}
ul.skill_down {
    padding-left: 2rem;
    & > li {
        font-size: 1rem;
        font-weight: 400;
    }
}

.name {
    text-align: left;
    font-weight: 800;
    font-size: 1.5rem;
    opacity: 0;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    right: 0;
    &.active {
        animation: 500ms ease 0s 1 normal none running enter;
        opacity: 1;
    }
    &.exit {
        animation: 500ms ease 0ms 1 normal none running exit;
    }
}
.name-hidden {
    padding: 1rem;
    font-size: 1.5rem;
}
@keyframes drop{
    0% {
        opacity: 1;
        transform: translateY(0%);
    }
    5% {
        transform: translateY(-5%);
    }
    100% {
        opacity: 0;
        transform: translateY(50%);
    }
}
.accent {
    background: #000;
    color: #fff;
    border-radius: 0.25rem;
    padding: 0 0.25rem;
    font-weight: 500;
}
.dark {
    .time-line {
        background-color: var(--base-dark);
    }
    .square {
        background-color: #fff;
    }
    .line {
        border-top: 1px solid #fff;
    }
    .selector {
        background-color: #343a40 !important;
    }
    .info {
        color: #fff;
    }
    .accent {
        background: #fff;
        color: #000 !important;
    }
    .profile-project-title {
        color: #fff;
    }
}

.profile-title {
    position: fixed;
    transform-origin: bottom left;
    font-weight: 800;
    text-transform: uppercase;
    color: #ccc !important;
    display: none;
}
@media (min-width: 768px) {
    .profile-title {
        display: block;
        top: -2rem;
        right: 0;
        font-size: 5rem;
        transform-origin: bottom right;
        transform: rotate(-90deg);
        cursor: vertical-text;
    }
    .contact-bundle {
        gap: 0;
        flex-direction: row;
        justify-content: space-evenly;
    }
}
.dummy {
    height: 100vh;
}