.project-container {
    position: relative;
    margin: auto;
    border: 1px solid #000;
    overflow: hidden;
    .project-view {
        display: flex;
        transition: all .8s ease;
        position: absolute;
        width: 100%;
        height: 100%;
    }
}
.dark {
    & .project-container {
        border: 1px solid #fff;
    }
}
.base {
    display: flex;
}
.project-item {
    .project-content {
        border: 1px solid #fff;
        box-sizing: border-box;
        transform-origin: top left;
        cursor: pointer;
        .project-title {
            font-size: 1.5rem;
            font-weight: 600;
            margin: 1rem;
        }
    }
}
.project-list {
    position: absolute;
    display: flex;
    box-sizing: border-box;
    right: 0;
    transform: rotate(90deg);
}
@media (min-width: 768px) {
}
  