.project_list {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    left: 50%;
}
.row {
    display: flex;
    flex-direction: column;
    & + & {
        margin-left: 5rem;
    }
}
.project {
    width: 12.5rem;
    height: 12.5rem;
    cursor: pointer;
    position: relative;
    transition: box-shadow 150ms linear;
    box-shadow: 
        0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    &:hover {
        box-shadow: 
            0 0 8px 0 rgba(0, 0, 0, 0.08),
            0 0 15px 0 rgba(0, 0, 0, 0.02),
            0 0 20px 4px rgba(0, 0, 0, 0.06);
        .record, .record_shadow {
            margin-left: 60%;
        }
    }
    & + & {
        margin-top: 1rem;
    }
    & > * {
        transition: font-size 0.5s ease;
    }
    .project_date {
        position: absolute;
        top: 1rem;
        left: 1rem;
        font-size: 1em;
        font-weight: 500;
    }
    .project_title {
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        font-size: 1.2em;
        font-weight: 700;
        text-transform: uppercase;
    }
    .project_category {
        font-size: 0.8em;
        transform-origin: bottom right;
        transform: rotate(-90deg);
        position: absolute;
        right: 0;
        top: -0.8rem;
        text-transform: uppercase;
    }
    .record {
        position: absolute;
        width: 90%;
        height: 90%;
        border-radius: 50%;
        top: 5%;
        margin-left: 25%;
        background-color: #374259;
        z-index: 0;
        transition: all 1s ease;
        /* animation: rotate 6s linear infinite; */
        z-index: -1;
        .innerRound {
            left: 50%;
            top: 50%;
            width: 15%;
            height: 15%;
            position: absolute !important;
            border-radius: 50% !important;
            padding: 5%;
            background-color: #fff;
            background-clip: content-box;
            border: 2px solid #fff;
            transform: translate(-50%, -50%);
        }
    }
    .record_shadow {
        z-index: -1;
        position: absolute;
        width: 90%;
        height: 90%;
        border-radius: 50%;
        top: 5%;
        cursor: auto;
        margin-left: 25%;
        transition: all 1s ease;
        border: 2px solid #fff;
        box-shadow: #777 0px 3px 8px;
    }
}
@media (max-width: 768px) {
    .project {
        & + & {
            margin-top: 2rem;
        }
        .project_category {
            transform: rotate(0deg);
            top: 2.8rem;
            left: 1rem;
        }
        .record, .record_shadow {
            margin-left: 50%;
        }
        &:hover {
            .record, .record_shadow {
                margin-left: 70%;
            }   
        }
    }
    .project_list {
        top: 2rem;
        width: 90vw;
        flex-direction: column;
        transform: translate(-50% , 0);
    }
    .row + .row {
        margin-left: 0;
        margin-top: 2rem;
    }
}