#down {
    height: calc(100% - 3.5rem);
}
#main:focus-visible {
    outline: none;;
}
.wrap {
    cursor: move;
}
.controller {
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 5%;
}

.timer {
    position: relative;
    width: 20rem;
    height: 0;
    max-width: 60%;
    border: calc(0.25rem/2) solid #bdbdbd;
    border-radius: 0.5rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    z-index: 0;
}

.btn-group {
    margin-bottom: 5%;
    & button {
        width: 2rem;
        padding: 0;
        border:none;
        background: none;
        margin: 0 1rem;
        &:hover {
            cursor: pointer;
            color: #ccc;
        }
        &:active, &:focus {
            color: #000;
        }
    }
    & i {
        font-size: 2rem;
    }

}
.dark i {
    color: #fff !important;
}
.wrap button {
    float: left;
}
.round {
    width: 1rem;
    height: 1rem;
    background-color: #9E9E9E;
    border-radius: 1rem;
    top: -0.5rem;
    left: -0.5rem;
    position: absolute;
    animation: moveRound 10s linear forwards;
    z-index: 2;
}
.fill {
    position: absolute;
    left: -0.25rem;
    top: -0.25rem;
    border: 0.25rem solid #9e9e9e;
    border-radius: 0.5rem;
    animation: fill 10s linear forwards;
    z-index: 1;
}
.timer.active > .round, .timer.active > .fill {
    animation-play-state: paused;
}
@keyframes fill {
    0% {width: 0%;}
    100% {width: 100%;}
}
@keyframes moveRound {
    0% {left: -0.5rem;}
    100% {left: calc(100% - 0.5rem);}
}
button.active .fa-pause, button .fa-play {
    display: inline-block;
}
button.active .fa-play, button .fa-pause {
    display: none;
}
.slide-move {
    position: absolute;
    top: calc(50% - 100px - 3.5rem);
}
.slide {
    transition: all 1s ease;
    position: absolute;
    left: calc(50% - 12.5rem * 0.75);

}   
.slide-item {
    filter: blur(10px);
    width: 12.5rem;
    height: 12.5rem;
    margin-right: calc(12.5rem * 1.45);
    float: left;
    transform: scale(0.5);
    transition: all 1s ease;
    position: relative;
    &.active {
        transform: scale(1);
        filter: blur(0px);   
        & .record, & .record-shadow {
            margin-left: 60%;
        }
        &:hover .record, &:hover .record-shadow {
            margin-left: 80%;
        }
    }
}
  
.album {
    width: 100%;
    height: 100%;
    /* background-color: var(--base-color); */
    transition: all 1s ease;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    .album-title {
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        font-size: 1.2rem;
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
    }
    .album-date {
        position: absolute;
        top: 1rem;
        left: 1rem;
        color: #fff;
        font-weight: 500;
    }
    .album-category {
        font-size: 0.8rem;
        transform-origin: bottom right;
        transform: rotate(-90deg);
        position: absolute;
        right: 0;
        top: -0.8rem;
        color: #fff;
        text-transform: uppercase;
    }
}
.record {
    position: absolute;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    top: 5%;
    margin-left: 5%;
    background-color: #374259;
    z-index: 0;
    transition: all 1s ease;
    animation: rotate 6s linear infinite;
}
.innerRound {
    left: 50%;
    top: 50%;
    width: 15%;
    height: 15%;
    position: absolute !important;
    border-radius: 50% !important;
    padding: 5%;
    background-color: #fff;
    background-clip: content-box;
    border: 2px solid #fff;
    transform: translate(-50%, -50%);
}

.record-shadow {
    position: absolute;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    top: 5%;
    margin-left: 5%;
    transition: all 1s ease;
    border: 2px solid #fff;
    box-shadow: #777 0px 3px 8px;
}
@keyframes rotate{
    100% {
        transform: rotate(360deg);
    }
}
.mushroom .wrap {
    transform: scale(1.1);
}
.mushroom2 .wrap {
    transform: scale(1.2);
}
.project-enter {
    position: fixed;
    width: 200vw;
    height: 200vh;
    top: -50%;
    left: -50%;
    border-radius: 50%;
    z-index: 9999;
    background-color: #FF9B9B;
    animation: project-enter 800ms linear forwards;
}
@keyframes project-enter {
    0% {
        clip-path: circle(0%);
    }
    100% {
        clip-path: circle(100%);
    }
}
.project-title {
    position: absolute;
    transform-origin: bottom left;
    bottom: 0.3rem;
    font-weight: 800;
    text-transform: uppercase;
    color: #ccc !important;
    display: none;
}
@media (min-width: 768px) {
    .project-title {
        display: block;
        left: 5.3rem;
        font-size: 5rem;
        transform: rotate(-90deg);
        cursor: vertical-text;
    }
    .slide-move {
        top: calc(50% - 100px);
    }
}
#down:not(.potion, .potion2) {
    .album {
        & > * {
            color: #fff !important;
        }
    }
    
}
.ease-reverse {
    transition: all 1s ease;
}