.move-enter {
    animation: 800ms ease 0s 1 normal none running enter;
}
.move-enter-active {
    opacity: 1;
}
.move-exit {
    animation: 800ms ease 0s 1 normal none running exit;    
}
.move-exit-active {
    opacity: 0;
}
@keyframes enter {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }
    20% {
        transform: translateY(50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes exit {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }
    30% {
        transform: translateY(5%);
        opacity: 1;
    }
    100% {
        transform: translateY(-50%);
        opacity: 0;
    }
}
.move-project-enter, .project-move-enter .post-transition {
    animation: 800ms ease 0s 1 normal none running enter;
}
.move-project-enter-active, .project-move-enter-active .post-transition {
    opacity: 1;
}
.project-move-exit-active {
    animation: 800ms linear forwards exit-project;
}
@keyframes exit-project {
    0% {
        clip-path: circle(100%);
    }
    100% {
        clip-path: circle(0%);
    }
}