.move-enter {
    animation: 800ms ease 0s 1 normal none running enter;
}
.move-enter-active {
    opacity: 1;
}
.move-exit {
    animation: 800ms ease 0s 1 normal none running exit;    
}
.move-exit-active {
    opacity: 0;
}
@keyframes enter {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }
    20% {
        transform: translateY(50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes exit {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }
    30% {
        transform: translateY(5%);
        opacity: 1;
    }
    100% {
        transform: translateY(-50%);
        opacity: 0;
    }
}